.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.header {
    background-color: #FFE382;
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
    
}

nav {
    align-self: flex-end;
}

body {
    background-color: #FFF78A;
}

.main-content {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.main-content > ol {
    display: flex;
    flex-flow: wrap;
    gap: 2rem;
    justify-content: center;
}

.project img {
    border: #FFE382 solid;
    border-style: outset;
    border-radius: 2%;
    box-shadow: #FFE382;
}

h1 {
    font-family: "Poetsen One";
    font-size: 3rem;
    font-weight: 100;
}

h2 {
    font-family: "Poetsen One";
    font-size: 1.5rem;
    font-weight: 50;
}






