.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.header {
    background-color: #C6EBC5;
    display: flex;
    width: 100%;
    justify-content: space-between;  
}

nav {
    display: flex;
    align-self: flex-end;
}

nav  a {
    color: #4d5a49; 
    padding: 10px;
    font-family: Poetsen One; 
    font-size: 16px;
    
}

body {
    background-color: #FEFDED;
}

.main-content {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.main-content > ol {
    display: flex;
    flex-flow: wrap;
    gap: 2rem;
    justify-content: center;
}

.project img {
    border: #C6EBC5 solid;
    border-style: outset;
    border-radius: 2%;
    box-shadow: #FFE382;
}

h1 {
    font-family: "Poetsen One";
    font-size: 3rem;
    font-weight: 100;
    color: #FF52A2;   
}

h2 {
    font-family: "Poetsen One";
    font-size: 1.5rem;
    font-weight: 50;
    color: #4d5a49;
}

h3 {
    font-family: "Poetsen One";
    font-size: 1rem;
    font-weight: 50;
    color: #4d5a49; 
}


.title {
    font-size: 2rem;
    color: #FF52A2;
    text-align: center;
}
.navdiv {
    display: flex;
    width: 125px;
    height: 50px;
    line-height: 25px;
    text-align: center;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    box-shadow: #4d5a49 5px 0;
    justify-content: center;
    margin-left: 6px;
}

#about-me {
    background-color: peachpuff;    
}

#contact-me {
    background-color: cornsilk;
}



